In [1]:
%run Zeidel.ipynb
%run Gauss.ipynb
%run Jacobi.ipynb
%run Gradient.ipynb

In [2]:
def _format_matrix(min, max, size):
    return np.array((max - min) * np.random.random((size, size)) + min, dtype=np.float64)
    
def rand_matrix(size):
    A = np.array(np.random.rand(size, size), dtype=np.float64)
    A = np.tril(A) + np.tril(A, -1).T
    return A.T * A

def diag_matrix(size):
    A = _format_matrix(0.0, 10.0, size)
    B = np.zeros((size, size))
    for i in range(size):
        B[i, i] = sum(A[i]) + 1
    return B

def hilbert_matrix(size):
    ans = np.array(np.zeros((size, size)), dtype=np.float64)
    for i in range(size):
        for j in range(size):
            ans[i, j] = 1.0 / (i + j + 1)
    return ans

def gen_right_column(size):
    return np.array(np.random.random(size), dtype=np.float64)

In [3]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

def _test(method, matrix, column):
    return method(matrix, column)

def _check_eps(a, b, eps):
    return abs(a - b) < eps

EPSILON = 1e-6

def _printEquation(matrix, column):
    df = pd.DataFrame(matrix)
    df['Right'] = column
    display(df)

def _testAll(matrix_gen, size, methods):
    matrix, column = matrix_gen(size), gen_right_column(size)
    print("Исходное уравнение:")
    _printEquation(matrix, column)
    relErrors = pd.DataFrame()
    absErrors = pd.DataFrame()
    solutions = pd.DataFrame()
    for method in methods:
        sol = _test(method, matrix, column)
        res = np.matmul(matrix, sol)
        absErrors[method.__name__] = abs(res - column)
        relErrors[method.__name__] = abs(res - column) / column
        solutions[method.__name__] = pd.Series(sol)
    print("Векторы решений:")
    display(solutions)
    print("Таблица абсолютных ошибок свободных коэффициентов системы:")
    display(absErrors)
    print("Таблица относительных ошибок свободных коэффициентов системы:")
    display(relErrors)

def _get_methods():
    return [zeidelMethod, zeidelMethodRelax, gaussMethod, jacobiMethod, gradient_descent]

def testDiagMatrix(size):
    _testAll(diag_matrix, size, _get_methods())

def testHilbertMatrix(size):
    _testAll(hilbert_matrix, size, _get_methods())
    
def testRandMatrix(size):
    _testAll(rand_matrix, size, _get_methods())

In [4]:
testDiagMatrix(10)

Исходное уравнение:

,0,1,2,3,4,5,6,7,8,9,Right
0,41.16994,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.373859
1,0.00000,41.653971,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.474921
2,0.00000,0.000000,34.391994,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.884098
3,0.00000,0.000000,0.000000,50.112711,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.148592
4,0.00000,0.000000,0.000000,0.000000,42.839674,0.000000,0.000000,0.000000,0.000000,0.00000,0.543579
5,0.00000,0.000000,0.000000,0.000000,0.000000,45.806482,0.000000,0.000000,0.000000,0.00000,0.357516
6,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,45.404897,0.000000,0.000000,0.00000,0.565204
7,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,46.082685,0.000000,0.00000,0.520586
8,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55.871854,0.00000,0.137424
9,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,47.58612,0.175909

Zeidel Iterations = 2. Max is 2000000 iterations.
Zeidel Relax Iterations = 50. Max is 2000000 iterations.
Jacoby Iterations = 2. Max is 200000 iterations.
Gradient Descent Iterations: 9. Max is 100000 iterations.
Векторы решений:

,zeidelMethod,zeidelMethodRelax,gaussMethod,jacobiMethod,gradient_descent
0,0.009081,0.009081,0.009081,0.009081,0.009081
1,0.011402,0.011402,0.011402,0.011402,0.011402
2,0.025707,0.025707,0.025707,0.025707,0.025707
3,0.002965,0.002965,0.002965,0.002965,0.002965
4,0.012689,0.012689,0.012689,0.012689,0.012689
5,0.007805,0.007805,0.007805,0.007805,0.007805
6,0.012448,0.012448,0.012448,0.012448,0.012448
7,0.011297,0.011297,0.011297,0.011297,0.011297
8,0.002460,0.002460,0.002460,0.002460,0.002460
9,0.003697,0.003697,0.003697,0.003697,0.003697

Таблица абсолютных ошибок свободных коэффициентов системы:

,zeidelMethod,zeidelMethodRelax,gaussMethod,jacobiMethod,gradient_descent
0,0.0,3.021861e-12,0.0,0.0,2.998118e-11
1,0.0,3.838763e-12,0.0,0.0,4.792766e-11
2,0.0,7.145950e-12,0.0,0.0,5.551115e-15
3,0.0,1.201067e-12,0.0,0.0,9.983403e-13
4,0.0,4.393597e-12,0.0,0.0,3.923939e-11
5,0.0,2.889688e-12,0.0,0.0,1.331274e-09
6,0.0,4.568457e-12,0.0,0.0,3.773729e-10
7,0.0,4.207856e-12,0.0,0.0,5.369073e-10
8,0.0,1.110750e-12,0.0,0.0,1.970646e-15
9,0.0,1.421807e-12,0.0,0.0,4.106876e-11

Таблица относительных ошибок свободных коэффициентов системы:

,zeidelMethod,zeidelMethodRelax,gaussMethod,jacobiMethod,gradient_descent
0,0.0,8.082881e-12,0.0,0.0,8.019375e-11
1,0.0,8.082954e-12,0.0,0.0,1.009172e-10
2,0.0,8.082757e-12,0.0,0.0,6.278845e-15
3,0.0,8.082997e-12,0.0,0.0,6.718677e-12
4,0.0,8.082719e-12,0.0,0.0,7.218709e-11
5,0.0,8.082691e-12,0.0,0.0,3.723680e-09
6,0.0,8.082850e-12,0.0,0.0,6.676759e-10
7,0.0,8.082917e-12,0.0,0.0,1.031351e-09
8,0.0,8.082663e-12,0.0,0.0,1.433991e-14
9,0.0,8.082633e-12,0.0,0.0,2.334661e-10

In [5]:
testRandMatrix(10)

Исходное уравнение:

,0,1,2,3,4,5,6,7,8,9,Right
0,0.827179,0.700272,0.059554,0.695625,0.006363,0.001133,0.128339,0.689907,0.001250,0.696682,0.522708
1,0.700272,0.787000,0.779633,0.526857,0.036109,0.125644,0.390830,0.052445,0.048380,0.279738,0.927001
2,0.059554,0.779633,0.019447,0.243265,0.575851,0.753365,0.113120,0.886784,0.885161,0.104673,0.741030
3,0.695625,0.526857,0.243265,0.415351,0.053363,0.611603,0.004927,0.237126,0.991775,0.829212,0.603485
4,0.006363,0.036109,0.575851,0.053363,0.676658,0.535508,0.785947,0.624371,0.067469,0.005518,0.017233
5,0.001133,0.125644,0.753365,0.611603,0.535508,0.368014,0.830732,0.003426,0.735571,0.183859,0.984812
6,0.128339,0.390830,0.113120,0.004927,0.785947,0.830732,0.002769,0.000840,0.239229,0.159576,0.168744
7,0.689907,0.052445,0.886784,0.237126,0.624371,0.003426,0.000840,0.011473,0.205352,0.002001,0.873808
8,0.001250,0.048380,0.885161,0.991775,0.067469,0.735571,0.239229,0.205352,0.298779,0.200634,0.692868
9,0.696682,0.279738,0.104673,0.829212,0.005518,0.183859,0.159576,0.002001,0.200634,0.264067,0.032063

Zeidel Got nan
Zeidel Iterations = 78. Max is 2000000 iterations.
Zeidel Relax Got nan
Zeidel Relax Iterations = 68. Max is 2000000 iterations.
Jacoby Iterations = 2. Max is 200000 iterations.
Gradient Descent Iterations: 9. Max is 100000 iterations.
Векторы решений:

,zeidelMethod,zeidelMethodRelax,gaussMethod,jacobiMethod,gradient_descent
0,NaN,NaN,-0.855463,-0.855463,-0.855463
1,NaN,NaN,0.923472,0.923472,0.923472
2,NaN,NaN,0.993060,0.993060,0.993060
3,NaN,NaN,0.371454,0.371454,0.371454
4,NaN,NaN,0.560181,0.560181,0.560181
5,NaN,NaN,-1.003674,-1.003674,-1.003674
6,NaN,NaN,-0.589348,-0.589348,-0.589348
7,NaN,NaN,-0.026439,-0.026439,-0.026439
8,NaN,NaN,0.488461,0.488461,0.488461
9,NaN,NaN,0.512360,0.512360,0.512360

Таблица абсолютных ошибок свободных коэффициентов системы:

,zeidelMethod,zeidelMethodRelax,gaussMethod,jacobiMethod,gradient_descent
0,NaN,NaN,0.000000e+00,0.000000e+00,1.908700e-10
1,NaN,NaN,0.000000e+00,0.000000e+00,5.397560e-11
2,NaN,NaN,0.000000e+00,0.000000e+00,3.563483e-12
3,NaN,NaN,0.000000e+00,0.000000e+00,3.885781e-16
4,NaN,NaN,0.000000e+00,0.000000e+00,2.052802e-13
5,NaN,NaN,1.110223e-16,1.110223e-16,3.006995e-11
6,NaN,NaN,0.000000e+00,0.000000e+00,2.691383e-10
7,NaN,NaN,5.551115e-17,5.551115e-17,1.146459e-08
8,NaN,NaN,0.000000e+00,0.000000e+00,6.024070e-13
9,NaN,NaN,0.000000e+00,0.000000e+00,1.262160e-10

Таблица относительных ошибок свободных коэффициентов системы:

,zeidelMethod,zeidelMethodRelax,gaussMethod,jacobiMethod,gradient_descent
0,NaN,NaN,-0.000000e+00,-0.000000e+00,-2.697349e-10
1,NaN,NaN,0.000000e+00,0.000000e+00,8.015251e-11
2,NaN,NaN,0.000000e+00,0.000000e+00,4.058863e-12
3,NaN,NaN,-0.000000e+00,-0.000000e+00,-9.170933e-16
4,NaN,NaN,-0.000000e+00,-0.000000e+00,-3.825839e-13
5,NaN,NaN,-1.592936e-16,-1.592936e-16,-4.314403e-11
6,NaN,NaN,-0.000000e+00,-0.000000e+00,-5.700592e-10
7,NaN,NaN,2.571642e-15,2.571642e-15,5.311153e-07
8,NaN,NaN,-0.000000e+00,-0.000000e+00,-6.197016e-13
9,NaN,NaN,-0.000000e+00,-0.000000e+00,-3.488370e-10

In [6]:
testHilbertMatrix(5)

Исходное уравнение:

          0         1         2         3         4     Right
0  1.000000  0.500000  0.333333  0.250000  0.200000  0.346988
1  0.500000  0.333333  0.250000  0.200000  0.166667  0.941045
2  0.333333  0.250000  0.200000  0.166667  0.142857  0.616573
3  0.250000  0.200000  0.166667  0.142857  0.125000  0.085749
4  0.200000  0.166667  0.142857  0.125000  0.111111  0.805099

Zeidel Iterations = 602653. Max is 2000000 iterations.
Zeidel Relax Iterations = 2000000. Max is 2000000 iterations.
Jacoby Iterations = 2. Max is 200000 iterations.
Gradient Descent Iterations: 8. Max is 100000 iterations.
Векторы решений:

,zeidelMethod,zeidelMethodRelax,gaussMethod,jacobiMethod,gradient_descent
0,760.926156,760.926156,760.926156,760.926156,760.926156
1,-15079.615159,-15079.615159,-15079.615160,-15079.615160,-15079.615160
2,67087.141475,67087.141475,67087.141476,67087.141476,67087.141303
3,-103342.926122,-103342.926123,-103342.926124,-103342.926124,-103342.926124
4,51262.897252,51262.897253,51262.897253,51262.897253,51262.897253

Таблица абсолютных ошибок свободных коэффициентов системы:

,zeidelMethod,zeidelMethodRelax,gaussMethod,jacobiMethod,gradient_descent
0,7.235323e-13,1.095457e-12,0.000000e+00,0.000000e+00,1.136868e-13
1,5.987433e-13,5.987433e-13,6.821210e-13,6.821210e-13,0.000000e+00
2,5.725420e-13,2.391531e-12,5.684342e-14,5.684342e-14,9.579030e-07
3,1.180722e-12,2.712275e-13,0.000000e+00,0.000000e+00,2.195577e-11
4,1.099565e-12,1.900702e-13,5.551115e-15,5.551115e-15,1.579292e-12

Таблица относительных ошибок свободных коэффициентов системы:

,zeidelMethod,zeidelMethodRelax,gaussMethod,jacobiMethod,gradient_descent
0,2.085179e-12,3.157044e-12,0.000000e+00,0.000000e+00,1.494059e-16
1,6.362538e-13,6.362538e-13,-5.428157e-16,-5.428157e-16,-0.000000e+00
2,9.285877e-13,3.878749e-12,-1.525153e-16,-1.525153e-16,-2.570128e-09
3,1.376948e-11,3.163031e-12,-0.000000e+00,-0.000000e+00,-2.974377e-13
4,1.365752e-12,2.360831e-13,-9.550930e-15,-9.550930e-15,-2.717240e-12